.intro {
  background: #9a735c;

  &__main {
    position: fixed;
    padding: 30px;
    bottom: 15%;
    left: 20px;
    max-width: 600px;
  }
}

.canvas {
  opacity: 0;
  height: 100dvh !important;
  animation: 1s 0.5s fadeIn forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}