.button {
  padding: 0.5rem;
  min-width: 90px;
  border-radius: 30px;
  background: transparent;
  cursor: pointer;

  &_dark {
    color: #fff;
    background: var(--c-primary-dark);
    border: 2px solid var(--c-primary-dark);
  }

  &_light {
    color: var(--c-primary-light);
    border: 2px solid var(--c-primary-light);
  }
}
