.textBlock {
  text-align: center;
  padding: 3rem 1rem;
  width: 100%;
  max-width: 800px;
  position: relative;
  text-shadow: 1px 1px 1px #000;
  opacity: 0;
  color: #fff;

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.2rem;
  }

  &_bottom {
    align-self: flex-end;
  }

  &_center {
    align-self: center;
  }

  &_top {
    align-self: flex-start;
  }

  &_leftAligned {
    justify-self: self-start;
  }

  &_centerAligned {
    justify-self: center;
  }

  &_rightAligned {
    justify-self: self-end;
  }

  &_bordered {
    border: 2px solid #fff;
  }
}
