.navigation {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.navItem {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  min-width: 110px;
  text-align: center;

  &_active {
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.7);
    transform: scale(1.15);
  }
}
